/* index.html  - START */

:root {
    --dark-color: #434a3e;
    --main-bg-color: #cbd8c1;
    --button-color: #ec7a23;
    --dark-med-color: #707070;
    --dark-light-color: #9f9f9f;
    --secondary-bg-color: #ffffff;
}

@font-face {
    font-family: Pacifico;
    src: url(Pacifico-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: var(--dark-med-color);
}

header {
    height: 100px;
    display: block;
    background-color: var(--dark-color);
    color: var(--secondary-bg-color);
}

header > h1 {
    display: inline-block;
    margin-left: 35px;
}

.head__btn {
    margin-left: 30px;
    margin-top: 35px;
    height: 46px;
    width: 52px;
}

header h1 {
    font-size: 50px;
    font-family: "Pacifico", Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 288px;
    margin: 20px auto 0 auto;
}

main p {
    margin: 0 auto;
    letter-spacing: 1.1px;
    word-spacing: 1.6px;
}

footer {
    margin-top: 220px;
    height: 182px;
    background-color: var(--dark-med-color);
    font-size: 11px;
    color: var(--secondary-bg-color);
}

footer section {
    display: inline-block;
    padding-top: 20px;
}

footer ul {
    width: 50vw;
    display: inline-block;
}

footer ul li {
    padding-bottom: 25px;
    list-style-type: none;
    text-align: right;
}

footer ul a:link,
footer ul a:visited {
    text-decoration: none;
    color: var(--secondary-bg-color);
}

footer figure {
    display: inline-block;
    padding-left: 20px;
}

footer figure img {
    height: 92px;
    width: 92px;
}

footer p {
    padding-top: 10px;
    width: 100vw;
}

footer p a {
    text-decoration: none;
    color: var(--secondary-bg-color);
    border-bottom: 1px solid var(--secondary-bg-color);
}

.center {
    text-align: center;
}

/* index.html  - END */

.card {
    position: relative;
    width: 288px;
    height: 360px;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--dark-light-color);
    border-radius: 4px;
}

.card__img {
    width: 288px;
}

.card__title {
    font-size: 22px;
}

.card__btn:link,
.card__btn:visited {
    display: block;
    width: 138px;
    height: 40px;
    border-radius: 3px;
    margin: 20px auto 30px auto;
    padding-top: 13px;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--secondary-bg-color);
    letter-spacing: 1.1px;
}

/* list.html  - START */
